body{
  width: 100%;
  margin: 20px auto 0;
}
h1, h2, h3{
  text-align: center;
}
[ui-sref]:hover {
  cursor: pointer;
  background-color: #a1cce2;
}

div.title{
  background-color:#27956d;
  color: #fff;
  font-size: 1.2em;
}
